<div>
    <h1 style="text-align: center;">
        {{blogTitle}}
    </h1>
    <form method="POST" action="/postView">
    <ul style="border: solid aquamarine  1px;">
    {{#each blogs}}
    <div class="row">
    <button type="submit" name="id" value="{{this.id}}">
        <li>
        <a style="float:left;" >{{this.title}} By: {{this.author}} </a>
        <div style="float:right;"> {{this.date}} </div>
        </li>
    </button>
    </div>
{{/each}}
    </ul>
    </form>
</div>