<div>
    <h1 style="text-align: center;">
        {{blogTitle}}
    </h1>
<div class="row">
<div class="col-3">
    <ul>

{{#each smth}}
Év: {{@key}}
    {{#each this}}
    Hónap: {{@key}}
        {{#each this}}
        <li><a id="cba{{this}}" href="#abc{{this}}" onclick="document.getElementById(`abc{{this}}`).click();" >{{this}}</a></li>
    {{/each}}
    {{/each}}
{{/each}}
    </ul>
</div>

<div class="col-3">
    <ul>
        <p>Tags</p>
        {{#each tags}}
        <form method="POST" action="/searching">
        <li><a href="#"   onclick="document.getElementById(`tags{{this}}`).click();" >{{this}}</a></li>
        <button id="tags{{this}}"  type="submit" name="keyTag" value="{{this}}" style="display: none;"></button>
        </form>
        {{/each}}
    </ul>
</div>


<div class="col-6">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Author</th>
                <th class="text-center">Date</th>
                <th class="text-center" style="display: none;">View</th>
            </tr>
    </thead>
        <tbody>
    <form id="myForm" method="POST" action="/postView">
    {{#each blogs}}
    <tr>
        <td class="text-center"> <a id="cba{{this.title}}" href="#abc{{this.slug}}"  onclick="document.getElementById(`abc{{this.slug}}`).click();" >{{this.title}}</a></td>
            <td class="text-center"> {{this.author}}</td>
            <td class="text-center"> {{this.date}}</td>
            <td class="text-center" style="display: none;">
    <button  class="alert alert-primary" type="submit" name="title" value="{{this.title}}" id="abc{{this.title}}">
       View Blog Post
    </button>
            </td>
{{/each}}
    </ul>
    </form>
        </tbody>
    </table>
    </div>
</div>
</div>
<p>Utolsó frissítés időpontja: {{lastRefresh}}</p>